.body100vh {
    height: 100dvh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body100vh main {
    flex-grow: 1; /* Permite que <main> ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
}

.body100vh footer {
    flex-shrink: 0;
}

/* Ajuste de sección */
.section-adoptar {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permite que la sección se expanda dentro del main */
}

.circulobg {
    position: absolute;
    height: 120%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--clr-blue-dark);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.como-adoptar-container {
    margin-top: clamp(80px, 6vw, 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
}
.como-adoptar-mask {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: scroll;
    position: relative;
    height: 55dvh;
    scroll-snap-type: y mandatory;
}
.como-adoptar-container article {
    scroll-snap-align: start;
    padding: clamp(5px, 9vw, 200px) clamp(5px, 7vw, 100px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.como-adoptar-container article .number {
    font-size: clamp(40px, 4.5vw, 75px);
}

.como-adoptar-container article .txt-container p {
    margin-top: clamp(30px, 5vw, 100px);
}

.como-adoptar-container img {
    justify-self: center;
    margin-top: 10px;
}


@media screen and (min-width: 600px) {
    .como-adoptar-mask {
        height: 40vh;
        max-height: 300px;
    }
    .como-adoptar-container article {
        flex-direction: row;
        text-align: left;
        border-bottom: 1px solid var(--clr-blue);
    }

    .como-adoptar-container article .number {
        font-size: 8rem;
        margin-right: 30px;
    }
    .como-adoptar-container article .txt-container {
        flex: 1;
    }

    .como-adoptar-container article .txt-container p {
        margin-top: 20px;
    }

    .scroll-advertation {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }

    .como-adoptar-container article button {
        transform: scale(1.5);
    }
    
}



