

/* GENERAL ===================================================== */
body {
    font-family: system-ui, sans-serif;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--clr-dark);
    text-wrap: balance;
}

/* HEADER ===================================================== */
header {
    height: clamp(50px, 6vw, 70px); 
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    right: 0;
    left: 0;
    top:30px;
    z-index: 100;
}

@supports(animation-timeline: scroll()){
    header {
        height: clamp(50px, 8vw, 90px); 

        animation: headerAnimation both;
        animation-timeline: scroll();
        animation-range: 0 500px;
    }

    @keyframes headerAnimation{
        to {
            height: clamp(50px, 6vw, 70px); 
        }
    }
}

    /*LOGO---------------------*/

    header svg {
        height: 60%;
        width: auto;
    }

    /*BOTONES---------------------*/

    header > div {
        display: flex;
        align-items: center;
        gap: 5vw;
    }

    @media screen and (max-width: 450px) {
        header > div {
            display: none;  
        }
    }

    /*Button*/
    header button:active {
        background-color: var(--clr-blue-dark);
    }

    /*Enlaces (logo + cómo adoptar)*/
    header a {
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }
    header a:hover {
        transform: scale(1.1);
    }

    /*Enlace como adoptar*/
    header div a {
        text-decoration: none;
    }
    header div a:active {
        color: var(--clr-blue-dark);
    }

/* HERO ===================================================== */

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding-top: 5%;
    height: 100%;
    align-items: center; 
}


/*BLOQUE DE TEXTO---------------------*/
    .hero div:first-child {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 50px; 
        z-index: 2;
    }

    .hero div:first-child button {
        padding: 20px;
    }


/*PERRETE---------------------*/
.hero div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%; 
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.hero div:nth-child(2) .perro {
    position: absolute;
    right: -5cqw; 
    bottom: 0;
    width: 50cqw; 
    max-width: 800px;
    container-name: contenedor;
    container-type: inline-size;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

.hero div:nth-child(2) .perro .cuerpo {
    width: 85cqw; 
    height: auto;
    position: relative;
    bottom: 0;
}

.hero div:nth-child(2) .perro .cola {
    position: absolute;
    width: 60cqw; 
    height: auto;
    bottom: -5cqh; 
    right: 70cqw; 
    transform-origin: center right;
    animation: colaAnimation 2s ease-in-out infinite alternate;
}

@keyframes colaAnimation {
    0%{transform: rotate(0);}
    100%{transform: rotate(30deg);} 
}



/*MEDIAQUERYS---------------------*/
    @media (max-width: 600px) {
        .hero {
            grid-template-columns: 1fr; 
            text-align: center;
        }

        .hero div:first-child button {
            align-self: center;
        }

        .hero div:nth-child(2) {
            display: none;
        }
    }

/* SECTION1: POR QUÉ ADOPTAR ===================================================== */

.section1 {
    width: 100vw;
    min-height: 100dvh;
    padding-top: 1px;
    padding-bottom: 12vw;
}

/*CONTAINER---------------------*/
.cards-container {
    display: flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .cards-container {
        flex-direction: row;
        align-items: stretch;
    }
}

/*CARD---------------------------*/
.card {
    width: 100%;
    max-width: 500px;

    border-radius: 9px;
    padding: 2cqw;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

    /* ANIMACIONES CARD*/
    .cards-container .card:first-child{
        animation: cardAnimation1 linear both;
        animation-timeline: view();
        animation-range: 20vh 40vh;
    }

    .cards-container .card:nth-child(2)  {
        animation: cardAnimation2 linear both;
        animation-timeline: view();
        animation-range: 30vh 50vh;
    }

    .cards-container .card:last-child{
        animation: cardAnimation1 linear both;
        animation-timeline: view();
        animation-range: 40vh 60vh;
    }

    @keyframes cardAnimation1 {
        0% {
            transform: translateY(300px) rotate(0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translateY(0) rotate(calc(-1*var(--rotation-cards))); 
            opacity: 1;
        }
    }

    @keyframes cardAnimation2 {
        0% {
            transform: translateY(300px) rotate(0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translateY(0) rotate(calc(3*var(--rotation-cards)));
            opacity: 1;
        }
    }

    /* SCOPE CARD */
    @scope (.card) {
        img {
            width:100%;
            height: 200px;
            object-fit: contain;
            border-radius: 9px;
        }

        .card-text {
            padding:clamp(5px,10vw,40px);
        }

        .card-text > h3{
            margin-bottom: 10px
        }

        .card-text p {
            width: 80%;
            margin: 0 auto;
        }
    }

/*POSITION---------------------*/
.cards-container {
    --rotation-cards: 3deg;
}

.cards-container .card:first-child, .cards-container .card:last-child {
    transform: rotate(calc(-1*var(--rotation-cards)));
}

.cards-container .card:nth-child(2)  {
    transform: rotate(calc(3*var(--rotation-cards)));
}


/* SECTION2: SALVAR UNA VIDA ===================================================== */
.section2 {
   min-height: 100dvh;
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
}

.section2::before {
    position: absolute;
    content: "";
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: color-mix(in srgb,var(--clr-pink-light)30%, transparent);
}

.section-wrapper {
    display: flex;
    flex-direction: column;
   align-items: center;
   z-index: 2;
}

.section-wrapper .txt-wrapper {
    display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 30px;
   text-align: center;
   padding-bottom: 100px;
}

/* PERRO PELOTA---------------------*/
.section2 .perro-pelota {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section2 .perro-pelota .perro {
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.section2 .perro-pelota .pelota {
    width: 10%;
    height: auto;
    position: absolute;
    right: 30%;
    top: 0%;

    offset-path: path("M31.49,4.55c3.65-1.09,7.48-1.41,11.15-.23,2.92.94,5.43,2.8,7.46,5.08,4.09,4.58,5.52,10.15,6.78,15.99,2.46,11.38,3.79,23.01,3.66,34.66-.05,4.6-.29,9.16-1.46,13.63-1.06,4.04-2.81,8.06-6.21,10.68s-7.69,2.5-11.1-.11c-2.92-2.24-4.31-5.44-5.17-8.92-1.9-7.72-.67-16.14,3.08-23.12,4.28-7.98,11.44-13.7,20.31-15.67s17.29.46,23.37,6.94c4.8,5.12,7.58,11.91,9.1,18.69.85,3.78.98,7.7,1.05,11.56.08,4.3-.14,8.62-.87,12.86-1.63,9.4-5.82,18-12.46,24.89s-15.87,10.64-25.08,12.13-18.81,1.06-27.21-2.51c-6.05-2.57-11.02-7.5-14.75-12.82-7.48-10.65-10.48-23.86-10.85-36.7s1.83-26.49,6.44-38.83c2.02-5.41,4.57-10.66,7.81-15.45,2.62-3.88,5.82-7.59,9.72-10.19,1.7-1.13,3.36-1.97,5.23-2.55s1.05-3.47-.8-2.89c-10.22,3.17-17.06,13.3-21.5,22.43C3.12,36.56-.05,50.52-.65,64.35c-.61,13.94,1.5,28.54,8.35,40.87,3.28,5.91,7.71,11.19,13.11,15.28,7.36,5.56,17.56,7.04,26.54,6.81,10.3-.26,20.79-3,29.29-8.98s14.08-14.32,17.13-23.76c2.86-8.85,3.14-18.3,2.41-27.5-.59-7.43-3.06-15.03-7.19-21.26-4.82-7.28-12.35-12.38-21.21-12.92-9.77-.6-19.5,3.68-25.92,10.97-5.89,6.7-9.22,15.48-9.13,24.41.07,7.83,2.53,16.98,10.47,20.21,4.5,1.83,9.18.46,12.66-2.75,3.3-3.04,5.11-7.33,6.2-11.61,1.2-4.77,1.44-9.66,1.48-14.56.05-6.15-.31-12.3-1.02-18.4s-1.79-12.39-3.18-18.49c-.68-2.98-1.38-5.83-2.68-8.61-2.75-5.89-7.59-11.13-14.03-12.86-3.94-1.06-8.07-.69-11.95.46-1.85.55-1.06,3.45.8,2.89Z");
    animation: pelotaAnimation 4s linear infinite; /*No se por qué esta animación me da un rebote al final*/
}

@keyframes pelotaAnimation {
    0% { offset-distance: 0%;}
    100% { offset-distance: 100%;}

}

/* MEDIA QUERYS---------------------*/
@media screen and (min-width: 800px) {
    .section2::before {
        height: 120%;
        right: -30px;
    }

    .section-wrapper {
        flex-direction: row;
        width: clamp(300px, 85vw, 2048px);
    }

    .section-wrapper .txt-wrapper {
        width: 50%;
        text-align: left;
    }

    .section2 .perro-pelota {
        width: 50%;
    }
}

/* FOOTER ===================================================== */
footer p {
    padding-top: 20px;
    padding-bottom: 20px;
}
